@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

.head {
    /* background-color: #f8f9fa; */
    padding-top: 5rem;
    padding-bottom: 5rem;
    
}

:root,
[data-bs-theme=light] {
  --bs-indyk: #2937f0;
}

.bg-indyk {
    background-color: var(--bs-indyk);
}

.bg-indigo {
    background-color: indigo;
}

.bg-gradient-primary-to-secondary {
    background: linear-gradient(45deg, #2937f0, #9f1ae2) !important;
}

#mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #fff;
    
}

.font-roboto {
    font-family: 'Roboto', sans-serif;
}

.font-apple {
    /* font-family: 'Kanit', sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
}


.fw-900 {
    font-weight: 900;

}

.small-icon {
    width: 3rem;
}

.logo-container {
    display: flex;

}

.czerwony {
    color: red;
}

.carousel-control-next-icon-bigger {
    height: 50px;
    width: 50px;
    background-color:black;
    border-radius: 15px;
}

#map {
    height: 100%;
}

#formularz, #omnie, #galeria, #kontakt{
    scroll-margin-top: 50px;
}

#btn-back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
}

.zoom:hover {
    transform: scale(1.03);
    transition: transform .2s;
    text-shadow: 0 0 7px #ffffff;
}