@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');



.head {
    /* background-color: #f8f9fa; */
    padding-top: 5rem;
    padding-bottom: 5rem;

}

.bg-indigo {
    background-color: indigo;
}

.bg-gradient-primary-to-secondary {
    background: linear-gradient(45deg, #2937f0, #9f1ae2) !important;
}

#mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #fff;
    
}

.font-roboto {
    font-family: 'Roboto', sans-serif;
}

.font-apple {
    font-family: 'Kanit', sans-serif;
}


.fw-900 {
    font-weight: 900;

}

.small-icon {
    width: 3rem;
}

.logo-container {
    display: flex;

}

.czerwony {
    color: red;
}


